<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
{% extends "base.html" %}
{% block content %}
<h1> Keikkahaku </h1>

<p>
    Etsi tulevia keikkoja yhtyeen, paikan tai päivämäärän perusteella!
</p>
<h2>
    Hae keikkoja:
    <input class="form-control" placeholder="Yhtye" type="text">
    <input class="form-control" placeholder="Paikka" type="text">
    <input class="form-control" placeholder="Päivämäärä" type="text">
</h2>


{% endblock %}
