
{% extends "base.html" %}
{% block content %}

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Yhtye</th>
        <th>Päivämäärä</th>
        <th>Helsinki</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">Primordial</a></td>
        <td>04.02.2017</td>
        <td>Helsinki</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
        
 {% endblock %}