{% extends "base.html" %}
{% block content %}
<h1>Nimi: {{ yhtye.nimi }}</h1>

  <h2>Kuvaus</h2>

  <p>{{yhtye.kuvaus}}</p>

  
  <h3>Tulevat keikat</h3>
  <ul>
      <li>ei</li>
      <li>vielä</li>
      <li>toteutettu</li>
  </ul>
  
   <form method="post" action="{{base_path}}/yhtye/{{yhtye.id}}">
    <div class="form-group">
      <label>Uusi nimi</label>
      <input name="nimi" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Uusi kuvaus</label>
      <input name="kuvaus" class="form-control" type="text">
    </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">Muokkaa</button>
    </div>
  </form>
  <form method="post" action="{{base_path}}/yhtye/{{yhtye.id}}/delete" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
  
{% endblock %}