{% extends "base.html" %}
{% block content %}
  <h1>Keikkalistaus</h1>
  {{message}}
 <p>
    <a href="{{base_path}}/keikka/new" class="btn btn-success">Lisää keikka</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Yhtye</th>
        <th>Paikka</th>
        <th>Hinta (€)</th>
        <th>Päivämäärä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for keikka in keikat %}
        <tr>
            {% for yhtye in yhtyeet %}
            {% if yhtye.id==keikka.yhtye_id %}
          <td><a href="{{base_path}}/yhtye/{{keikka.yhtye_id}}">{{yhtye.nimi}}</td>
          {% endif %}
          {% endfor %}
          <td> {% for paikka in paikat %}
               {% if paikka.id==keikka.paikka_id %}
              {{paikka.nimi}}
              {% endif %}
              {% endfor %}
          </td>
          <td>{{keikka.hinta}}</td>
          <td>{{keikka.pvm}}</td>
          {% if user_logged_in %}
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/keikka/{{keikka.id}}">Muokkaa</a>
              
          <form method="post" action="{{base_path}}/keikka/{{keikka.id}}/delete"> 
              <div class="form-group">
      <button type="submit" class="btn btn-primary">Poista</button>
    </div></td>
           {% endif %}
              </form>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}