{% extends "base.html" %}
{% block content %}
<h1>Esiintyjät:</h1>
    <ul>
    {% for yhtye in yhtyeet %}
    <li> {{yhtye.nimi}} </li>
        {% endfor %}
    </ul>


    {% for paikka in paikat %}
    {% if paikka.id == keikka.paikka_id %}
  <h3>Paikka: {{paikka.nimi}}</h3>
  {% endif %}
  {% endfor %}
  <h3>Päivämäärä: {{keikka.pvm}}</h3>
  <h3>Hinta: {{keikka.hinta}}</h3>

  {% if user_logged_in %}
   <form method="post" action="{{base_path}}/keikka/{{keikka.id}}">


    <div class="form-group">
      <label>Uusi päivämäärä</label>
      <input name="pvm" class="form-control" type="text">
    </div>
       
     <div class="form-group">
         <label>Uusi hinta</label>
         <input name="hinta" class="form-control" type="number">
     </div>


    <div class="form-group">
      <button type="submit" class="btn btn-primary">Muokkaa</button>
    </div>
  </form>
  <form method="post" action="{{base_path}}/keikka/{{keikka.id}}/delete" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
  {% endif %}
  
{% endblock %}